.card{
    position: relative;
    overflow: hidden;
    img{
        width: 50px;
    }
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.063);
    margin-top: 10px;
    cursor: pointer;
    .title-image{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sale{
        background-color: orange;
        position: absolute;
        left: -30px;
        top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        height: 20px;
        width: 90px;
        transform: rotate(310deg);
    }
    .price {
        @apply block text-orange-500 font-semibold;
    }
    .old-price{
        color: grey;
        text-decoration: line-through;
    }
}
.no-food{
    text-align: center;
    color: red;
}