<a [routerLink]="['/item',food.id - 1]" class="item"
    [queryParams]="{'title':food.title,'img':food.image,'price':food.price,'type':food.type,'sale':food.sale,'newPrice':food.newPrice}">
    <div class="sale" *ngIf="food.sale">
        {{food.sale}}%
    </div>
    <img [src]="food.image" [alt]="food.title">

    <span class="heading">
        {{food.title}}
    </span>

    <div class="check-price" *ngIf="food.sale">
        <span class="price">
            {{food.newPrice | currency:"YANGI: "}}
        </span>
        <span class="old-price">
            {{food.price | currency:"ESKI: "}}
        </span>
    </div>
    <div class="checkout" *ngIf="!food.sale">
        <span class="price">
            {{food.price | currency:"SO'M: "}}
        </span>
    </div>
</a>