.item {
    @apply bg-white rounded mb-2 p-4 block text-center;
    position: relative;
    overflow: hidden;
    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: 0.6s
    }
    .old-price{
        color: grey;
        text-decoration: line-through;
    }
    .sale{
        background-color: orange;
        position: absolute;
        left: -27px;
        top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        height: 30px;
        width: 90px;
        transform: rotate(310deg);
    }
    >img {
        @apply mb-2 mx-auto;
        height: 190px;
    }

    .heading {
        @apply font-medium mb-2 block text-lg;
    }

    .price {
        @apply block text-orange-500 font-semibold;
    }
}